#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
    height: auto;
}

.w80 {
    width: 80px;
    height: auto;
}

.w90 {
    width: 80px;
    height: auto;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

input.form-control.hospname {
    margin-top: 12px;
}